<h1>Movies at this Theater</h1>

<% @movies.each do |movie| %>
  <div class="well">
    <h3><%= movie.title %></h3>
    <%= link_to "Movie Info", movie_path(movie), :class => 'button' %>
  </div>

<% end %>
