<h1>Add Movie</h1>

<%= form_for :movie, url: movies_path do |f| %>


  <div>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.submit({:class => 'button'}) %>
  </div>

<% end %>
