<h1>All Screens at Theater</h1>

<% @screens.each do |screen| %>

  <div class="well">
    <h2>Room Number: <%= screen.room_number %></h2>
    <h4>Capacity: <%= screen.capacity %></h4>
    <%= link_to "Screen Information", screen_path(screen), :class => 'button' %>
  </div>


<% end %>
