<% p @movie.id %>
<% @showtime = Showtime.where(movie_id: @movie.id) %>

  <div class="showtime">
    <table>
      <tr>
        <th>Date</th>
        <th>Time</th>
      </tr>
      <% @showtime.each do |showtime| %>
      <tr>
        <td><%=showtime.show_time%></td>
        <td><%=showtime.show_date%></td>
      </tr>
      <% end %>
    </table>
  </div>
