<% p @movie.id %>
<% @showtime = Showtime.where(movie_id: @movie.id) %>

  <div class="showtime">
    <table>
      <tr>
        <th>Date</th>
        <th>Time</th>
      </tr>
      <% @showtime.each do |showtime| %>
      <tr>
        <td><%=showtime.time.strftime('%A %b. %d, %Y')%></td>
        <td><%=showtime.time.strftime('%I:%M %p')%></td>
      </tr>
      <% end %>
    </table>
  </div>
