/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require_self
 */

/* style for all pages */
body {
  font-family: 'Montserrat', sans-serif;
}

.button {
  margin-top: 20px;
  font-size: 18px;
}

input[type="submit"] {
  font-size: 16px;
}

.button.button-primary {
  font-size: 18px;
}

a.button:hover {
  text-decoration: none;
}

.well {
  padding: 0;
}

.movie-title h3 {
  background: rgba(51,195,240,0.15);
  padding: 15px;
  margin: 0;
}

.details {
  padding: 15px;
}

.jumbotron {
  background-image: url(/assets/Ticket-Taker-Favicon.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 50px;
}

.jumbotron h1 {
  text-align: right;
  font-family: 'Tinos', serif;
}

label, select {
  font-size: 22px;
}

input {
  margin-bottom: 10px;
  width: 100%;
  font-size: 22px;
}

.form-div {
  width: 100%;
}

ul {
  list-style-type: none;
}

.content {
  padding: 15px;
  background: whitesmoke;
}

.screen-content, .movie-content {
  padding: 15px;
}



/* orders page style =========== */
thead {
  font-size: 20px;
}

tbody {
  font-size: 16px;
}

td {
  word-wrap: normal;
}

.orders-div {
  min-width: 750px;
}

i {
  color: #e65b5b;
}

i:hover {
  color: rgba(230,91,91,0.5);
}
