<%= form_for @import, html: { multipart: true } do |f| %>
  <% if f.object.failed? %>
    <ul>
      <% f.object.formatted_errors.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  <% end %>

  <%= f.file_field :file %>
  <%= f.submit %>
<% end %>
